*{
  margin: 0px;
  padding: 0px;
}



body {

background-image: url(girl-balloon.jpg);
background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-attachment: fixed;

  }
#container{
  width: 95%;
  margin:auto;
  }
#header {
    margin: 0px;
    padding: 0px;
  background-size: cover;
  width: auto;
  height: 105px;
}

/*navigation begins here*/
.nav{
  height: 60px;
  margin: 0px 20px 0px 20px;
  font-size: 25px;
  border-radius:8px 8px 0px 0px;
  text-align: center;
}
.nav ul{

  padding: 0px;
  margin: 0px;
  text-decoration: none;
}
.nav li {
list-style-type: none;
display: inline-block;
padding: 20px;
float:right;
}
.nav a {
  text-decoration: none;
  color: white;
}
.nav img{
  float: left;
  margin-top: 10px;
}
.nav li:hover{
  background-color: #1E5466;
  height: 20px;
  border-radius: 8px 8px 0px 0px;
}
/*navigation bar*/

/*-------------dropdown begins-----------------------*/

.dropdown {
    position: relative;
    font-family: fantasy cursive;
    /*display: inline-block;*/

  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgba(242, 242, 247, 0.6);
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(102,102,102,0.6);
}

.dropdown i{

}
.hamburguer{
  background-color:rgba(242, 242, 247, 0.1);
  height: 60px;
  width: 60px;
border-radius:50%;

}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: blue;}

.dropdown:hover .dropdown-content {
    display: block;
  }
  /*------dropdown ends-----------*/


  .right-stuff-1{
    width: 200px;
    height: 20px;
    position: relative;
    display: inline-block;
    float: right;
}

.right-stuff-1 i{
    font-weight: bold;
    position: relative;
    right: -160px;
    font-size: 48px;
    color:#33334d;
}

  .right-content-1{
display: none;
position: absolute;
background-color:rgba(255, 255, 255, 0.8);
min-width: 200px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
  }
  .right-content-1 p{
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    padding: 10px;
  }
.right-stuff-1:hover .right-content-1 {
    display: block;
}
.right-stuff-1:hover i{
  color:#804000;
  border: 2px;
  border-radius: 4px;
  font-size: 52px;
}
 /*right-stuff-1 ends*/

 .right-stuff-2{
   width: 60px;
   height: 20px;
   float: right;
   position: relative;
   display: inline-block;
   top: 130px;
   right: -230px;
 }
 .right-stuff-2 i{
   font-size: 38px;
 }
 

 .right-content-2{
display:none;
position: absolute;
background-color:rgba(255, 255, 255, 0.8);
min-width: 200px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
right: 40px;
z-index: 1;

  }
  .right-content-2 p{
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    text-align: center;
    padding: 10px;
  }
.right-stuff-2:hover .right-content-2 {
    display: block;
}
.right-stuff-2:hover i{
  color:#739900;
  border: 2px;
  border-radius: 4px;
  font-size: 52px;
}
 
/*------ stuff 2 ends------->*/

.right-stuff-3{
     width: 60px;
     height: 20px;
     float: right;
     position: relative;
     display: inline-block;
     right: -280px;
     top: 240px;
}
.right-stuff-3 i{
    font-size: 38px;
}
.right-stuff-3:hover i{
  background-color:#33334d;
  color:   white;
  border: 2px;
  border-radius: 4px;
  font-size: 52px;
}

 .right-content-3{
display: none;
position: absolute;
right: 40px;
background-color:rgba(255, 255, 255, 0.8);
min-width: 200px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
  }
  .right-content-3 p{
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    text-align: center;
    padding: 10px;
  }
.right-stuff-3:hover .right-content-3 {
    display: block;
}
.right-stuff-3:hover i{
  background-color:#33334d;
  color: white;
  border: 2px;
  border-radius: 4px;
  font-size: 52px;
}

/*--------------stuff 3 ends-------->*/

/*main 1*/
.main-content-1{
width: 100%;
height: 1300px;
background-color:rgba(255, 255, 255, 0.9);
position: relative;
bottom: -700px;
text-align: center;
}
.part-1{
padding-left: 20px;
}
.part-1 img{
float:right;
margin-right:-250px;
margin-top: 20px;
}
.part-1 h1{
  padding-top: 40px;
  font-size: 40px;
}
.part-1 p{
  width: 500px;
color: grey;
padding: 10px;
margin-top: 40px;
font-size: 22px;
}

.part-2{
text-align: center;
}
.part-2 img{
  float: left;
  margin-top: 0px;
  margin-left: 20px;
  /*position: relative;
  bottom: -210px;
  margin-left: -60px;*/
}
.part-2 h1{
  margin-top: 120px;
}

.part-2 p{
width: 300px;
text-align: center;
float: right;
display: block;
font-size: 22px;
color: grey;
padding-top: 40px;
margin-right:120px;
}

.part-3{
  width: 100%;  
}
.part-3 img{
    float: right;
    margin-right: 20px;
    margin-top: -40px;
}
.part-3 p{
    margin-top: 40px;
    margin-left: 60px;
    width: 400px;
    display: block;
    float: left;
    color: gray;
    font-size: 22px;
}

.part-3 h1{
    margin-top: 400px;
    
}
/*main 1 ends*/

/*--------gallery---------*/
 .gallery ul{
   list-style-type: none;
   overflow: hidden;
 }
 .gallery li {
   float: left;
 }
 .gallery li img{
   width: 300px;
   padding: 16px;
  margin-right: 20px;
 }
 
 
 /*.gallery:hover img{
   width: 600px;*/
 
 


#footer{
  width: 100%;
    overflow: auto;
    margin-top: 800px;
    position: relative;
    /*right:950px;*/
    }
    
#footer a{
    float: right;
    padding: 12px;
    margin-right: 25px;
    }
/*----------news-----------*/


.news1{
    width: 30%;
    height: 650px;
    display: block;
    background-color: white;
    border-radius: 8px;
    position: absolute;
    top: 360px;
}

.news1 img{
    width: 360px;
    padding: 5px;
}
.news1 h1{
    padding: 10px;
}
.news1 p{
    display: block;
    font-size: 20px;
    padding: 5px;
}



.news2{
    height: 650px;
    width: 30%;
    display: block;
    background-color: white;
    border-radius: 8px;
    position: absolute;
    top:360px;
    right:450px;
}

.news2 img{
    width: 360px;
    padding: 5px;
    height: 400px;
}
.news2 h2{
    padding:10px;
}
.news2 p{
    display: block;
    font-size: 20px;
    padding: 5px;
}



.news3{
    height: 650px;
    width: 30%;
    display: block;
    background-color: white;
    border-radius: 8px;
    position: absolute;
    top:360px;
    right:45px;
}

.news3 img{
    width: 360px;
    padding: 5px;
    height: 375px;
}

.news3 h1{
    padding:10px;
}
.news3 p{
    display: block;
    font-size: 20px;
    padding: 5px;
}


/*-------------heart dont forger 20-------------*/
@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
  }

.heart {
  width: 50px;
  height: 50px;
  animation: heartbeat 1s infinite;
  float: right;
}
.heart i{
    color: red;
}
.heart p{
 color: white;
}